body  {
    max-width: 1280px;
    margin:  auto;
  }
  header  {
    text-align: center;
    background-image: url("images/header.jpg");
    background-position: 0 50%;
    color: beige;

}
  header h2  {
    font-size: 4em;
    color: beige;
    margin: 0;

  }
  header h3 {
    font-size: 2em;
    margin: 0;
  }
  
  header h4 {
  font-size: 0.75em;
  }
  .author  {
      text-align: center;
  }
  .author img {
      border-radius: 50%;
      margin-top: -50px;
  }